html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: url(../images/fon.png);
    // background-size: 50vw;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
    &__full {
        width: 100%;
        padding: 0 35px;
    }
}