.header {
    margin-top: 90px;
    &__menu {
        padding-top: 50px;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        li {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            border: 1px solid transparent;
            transition: all .5s;
            &:hover {
                background-color: rgba($color: #000, $alpha: 0.5);
                color: #ccc;
            }
            a {
                span {
                    display: block;
                }
                img {
                    width: 75px;
                    height: 75px;
                }
            }
        }
    }
}