@import 'globals';
@import 'vars';
//Start header
.header {
    &__menu {
        display: flex;
        justify-content: space-around;
        li {
            display: inline-block;
            a {
                color: white;
            }
        }
    }
}

//End header
//Start section works
//End section works
@import 'login';